html, body{height:100%;width:100%;font-size:79.06%;font-family:'DINpro-l'}
*{box-sizing:border-box}
a{color:inherit;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s}
/*LOADER*/
#loader{width:100%;height:100%;position:fixed;background:url(../images/section01bg.jpg) center repeat; #252525;z-index:9999;left:0;top:0;}
#loader .num{position:absolute;width:100px;height:30px;color:#cca36e;opacity:0.5;font-size:3.5em;font-family:'DINpro-b';overflow:hidden;letter-spacing:0.1em;text-align:center;top:50%;margin-top:-15px;left:0px;transition:all ease-out 0.6s;-webkit-transition:all ease-out 0.6s;transform:rotate(-90deg);-webkit-transform:rotate(-90deg);}
#loader i{width:2px;height:100%;position:absolute;top:0;left:64px;background:#676767;}
#loader i .per{width:100%;height:0;bottom:0;left:0;background:#ba9565;position:absolute;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s;}

section{position:relative;width:100%;min-height:100%}
section em{position:absolute;bottom:0}
header{height:100%;position:fixed;top:0;left:0;z-index:99;transition:background ease-in 0.3, width ease 0.1s 0.3s;-webkit-transition:background ease-in 0.3s, width ease 0.1s 0.3s;width:20px}
header.op{width:100%;background:rgba(0,0,0,0.7);transition:background ease-in 0.3s 0.1s, width ease 0.1s;-webkit-transition:background ease-in 0.3s 0.1s, width ease 0.1s;}
header .bt-menu{position:absolute;width:54px;height:54px;background:rgba(255,255,255,0.05);border-radius:50px;cursor:pointer;z-index:3;top:20px;left:23px;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s}
header .bt-menu i{width:20px;height:1px;background:#cca36e;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s;}
header .bt-menu i:first-child{margin-top:-5px;}
header .bt-menu i:last-child{margin-top:5px;}
header .bt-menu.open{background:#FFF}
header .bt-menu.open i{transform:rotate(45deg);-webkit-transform:rotate(45deg);left:33%}
header .bt-menu.open i:first-child{transform:rotate(135deg);-webkit-transform:rotate(135deg);margin-top:0}
header .bt-menu.open i:last-child{display:none}
nav{width:250px;height:100%;position:fixed;background:#a6865d;color:#FFF;left:-250px}
nav i{width:50px;height:100%;position:absolute;z-index:0;background:#8a6f4d;}
nav ul{position:relative;z-index:1;transform:translateY(-50%);-webkit-transform:translateY(-50%);top:50%}
nav li:first-child{margin-top:0;}
nav li{height:50px;position:relative;padding-left:50px;margin-top:60px}
nav li a{font-size:1.4em;display:block;line-height:50px;padding-left:3px;opacity:0;font-family:'DINpro-l'}
nav li span{position:absolute;width:50px;height:25px;color:#000;opacity:0.1;font-size:3.5em;font-family:'DINpro-b';overflow:hidden;letter-spacing:0.1em;text-align:center;top:13px;left:13px;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s;transform:rotate(-90deg);-webkit-transform:rotate(-90deg);opacity:0}
nav li.view a{opacity:1;padding-left:25px;}
nav li.view span{opacity:0.1;}
nav li.active > span{opacity:0.25}
nav li.active > a{color:#000}

#navScroll{height:calc(100% - 74px);position:fixed;color:#FFF;z-index:98;top:74px}
#navScroll i{width:50px;height:100%;position:absolute;z-index:0;border-right:1px solid rgba(255,255,255,0.3)}
#navScroll li{max-height:150px;min-height:50px;position:relative;padding-left:50px;margin-top:15px;height:17%}
#navScroll li:first-child{margin-top:0;}
#navScroll li a{padding:20px;left:49px;top:0;font-size:1.4em;display:block;height:100%;padding-left:3px;font-family:'DINpro-l';position:absolute;border-left:1px solid rgba(255,255,255,0.8)}
#navScroll li a strong{font-weight:normal;position:absolute;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);opacity:0;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s}
#navScroll li span{position:absolute;width:50px;height:25px;color:#cca36e;opacity:0;font-size:3.5em;font-family:'DINpro-b';overflow:hidden;letter-spacing:0.1em;text-align:center;top:50%;margin-top:-2px;left:13px;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s;transform:rotate(-90deg);-webkit-transform:rotate(-90deg);}
#navScroll li em{position:absolute;left:49px;top:0px;width:4px;background:#cca36e;opacity:0;z-index:3;max-height:100% !important;height:0;transition:height, opacity ease-out 0.3s;-webkit-transition:height, opacity  ease-out 0.3s;-moz-top:0}
#navScroll li.active em{opacity:1}
#navScroll li.active a{padding-left:23px;}
#navScroll li.active a strong{opacity:1}
#navScroll li.active span{opacity:0.2}

/*sections*/
#nav1{background:url(../images/section01bg.jpg) center repeat;}
#nav3{background:url(../images/section03bg.jpg) center no-repeat;}
#nav5{background:url(../images/section05bg.jpg) center no-repeat;}

#nav1{overflow:hidden;}
#nav1 .wp{width:100%;max-width:1200px;position:relative;z-index:3;margin:auto;padding:15% 60px;transition:ease-out 0.5s all;-webkit-transition:ease-out 0.5s all;left:-80px;opacity:0}

#nav1 .logo{
  width:100%;
  position:relative;
  text-align:center;
}
#nav1 .logo img{
  position: relative;
  margin:5% auto;
}
#nav1 .spoon{
  z-index: 0;
  width: 80%;
  position: absolute;
  text-align:center;
}
#nav1 .spoon img{
  position: relative;
  width: 40%;
  margin: 5% 0 0 60%;
}

#nav1 h1{font-size:3.3em;color:#FFF;font-weight:normal;line-height:1.8;margin:85px 0;text-transform:uppercase;letter-spacing:0.4em}
.bt-ancla{display:inline-block;padding-left:45px;position:relative;line-height:80px;font-size:1.2em;color:rgba(255,255,255,0.2);text-transform:uppercase;letter-spacing:0.2em}
.bt-ancla img{position:absolute;left:0;top:0;transition:top ease-out 0.3s;-webkit-transition:top ease-out 0.3s;}

#nav1 .ingredients{
  position:absolute;
  left: 0;
  top:0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#nav1 .ingredients img{
  position: relative;
  z-index:0;
  transition:ease-out 0.3s all;
  -webkit-transition:ease-out 0.3s all;
}
#nav1 .ingredients01,#nav1 .ingredients02,#nav1 .ingredients03{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button span{
    display: inline-block;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    background: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-family: fantasy;
    color: #b3302c;
}
#nav1 .button span{
    position: relative;
    margin: 10px 0 0 80%;
}


#nav1 .vx{opacity:0;}
/*#nav1 .sarten.vx{-webkit-filter:blur(10px);filter:blur(10px);left:90%;}
#nav1 .vino.vx{-webkit-filter:blur(10px);filter:blur(10px);bottom:-200px}
#nav1 .espatula.vx{top:-300px}*/

#nav2 .wp{width:970px;padding:0 30px;position:relative;margin:auto;height:100%;z-index:2}
#nav2 .title{
  text-align: center;
  font-size: 36px;
  padding: 100px 0 20px 0;
}
#nav2 hr{
  margin:20px auto;
  width: 120px;
  height: 2px;
  border-top: 2px solid #b3302c;
}
#nav2 .content{
  color:#fff;
  font-size: 20px;
  line-height: 1.5;
}

#nav2 .content .grade{
    color: #000;
    font-size: 20px;
    line-height: 1.5;
    border-bottom: 2px dashed #383838;
    width: 80px;
    padding: 10px 0;
    margin-bottom: 10px;
}
#nav2 .content .diamond,.gold,.sliver{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content:space-between;
  flex-wrap: wrap;
}
#nav2 .content .logo-box{
  margin: 20px 3% 0 20px;
  display: block;
  width: 27%;
  padding:10px;
  border:1px solid #999; 
}
#nav2 .content .logo-box img{
  width: 100%;
}

/*#nav2 .copy{max-width:700px;padding:150px 70px 0;position:relative;margin:auto;text-align:center;top:200px;transition:ease-out 0.5s all;-webkit-transition:ease-out 0.5s all;}
#nav2 .copy p{margin:20px 0;font-size:2em;color:#848383;line-height:1.5;position:relative}
#nav2 .copy h2{color:#FFF;font-weight:normal;font-size:3.5em;font-family: 'clicheregular';}
#nav2 .copy hr{width:120px;margin:30px auto;border:none;height:1px;background:#cca36e}
#nav2 .firma{display:block;margin:auto;width:250px;position:relative;font-size:1.5em;}
#nav2 .firma h4{color:#FFF;font-family:'DINpro-b';position:absolute;z-index:1;top:10px;left:0}
#nav2 .firma svg{width:100%;stroke:#5a5a5a;stroke-width:1px;stroke-dasharray:0, 1087;transition:ease-in 2.5s all;-webkit-transition:ease-in 2.5s all;width:100%;}
#nav2 .firma.view svg{stroke-dasharray:1087, 0;}

#nav3 .video{position:relative;z-index:2}
#video-controls{position:absolute;left:50%;bottom:20px;transform:translateX(-50%);-webkit-transform:translateX(-50%);width:70%;opacity:0.3;transition:opacity ease 0.3s;-webkit-transition:opacity ease 0.3s;}
#video-controls .barra{width:calc(100% - 90px);height:8px;background:rgba(255, 255, 255, 0.4);position:relative;float:left;margin:10px 0px}
#video-controls #play-pause, #video-controls #mute{float:left;margin:0 5px;height:27px;width:34px;font-size:0;border:none;outline:none;background:none;padding:0;cursor:pointer;}
#video-controls #volume-bar, #video-controls #full-screen{display:none;}
#video-controls #seek-bar{background:#cca36e;position:absolute;height:100%;left:0;top:0;transition:width ease-in 0.3s;}*/

#nav3 .wp{width:970px;padding:0 30px;position:relative;margin:auto;height:100%;z-index:2}
#nav3 .title{
  text-align: center;
  font-size: 36px;
  color:#fff;
  padding: 100px 0 20px 0;
}
#nav3 hr{
  margin:10px auto;
  width: 120px;
  height: 2px;
  border-top: 2px solid #b3302c;
}
#nav3 .content{
  color:#fff;
  font-size: 20px;
  line-height: 1.5;
}


#nav4 .wp{width:970px;padding:0 30px;position:relative;margin:auto;height:100%;z-index:2}
#nav4 .title{
      text-align: center;
      font-size: 36px;
      padding: 100px 0 20px 0;
}
#nav4 hr{
  margin:10px auto;
  width: 120px;
  height: 2px;
  border-top: 2px solid #b3302c;
}
#nav4 .content{
    font-size: 20px;
    line-height: 1.5;
}
#nav4 .button span{
    display:inline-block;
    color: #fff;
    background: #b3302c;
}


#nav5 .wp{width:970px;padding:0 30px;position:relative;margin:auto;height:100%;z-index:2}
#nav5 .title{
  color:#fff;
  text-align: center;
  font-size: 36px;
  padding: 100px 0 20px 0;
}
#nav5 hr{
  margin:20px auto;
  width: 120px;
  height: 2px;
  border-top: 2px solid #b3302c;
}
#nav5 .content{
  color:#fff;
  font-size: 20px;
  line-height: 1.5;
}

#nav5 .content .grade{
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
    border-bottom: 2px dashed #f1f1f1;
    width: 110px;
    padding: 10px 0;
    margin-bottom: 10px;
}
#nav5 .content .diamond,.gold,.sliver{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content:space-between;
  flex-wrap: wrap;
}
#nav5 .content .logo-box{
  margin: 20px 3% 0 20px;
  display: block;
  width: 27%;
  padding:10px;
  background: #fff;
  border:1px solid #999; 
}
#nav5 .content .logo-box img{
  width: 100%;
}


#footer-bottom span{
    margin:10px 0 0 20px;
    white-space: nowrap;
}
#footer-bottom i{
    height: 20px;
    width: 20px;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: middle;
}
#footer-bottom .icon-facebook{
    background-image: url('../images/facebook.png');
}
#footer-bottom .icon-twitter{
    background-image: url('../images/twitter.png');
} 
#footer-bottom .icon-google{
    background-image: url('../images/google+.png');
} 
#footer-bottom .icon-weibo{
    background-image: url('../images/weibo.png');
}
.website-info {
    background-color: #333;
    min-height: 100px;
    color: #767676;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*#nav3 .sobrinos{position:relative;padding-bottom:100px;padding-top:1px;overflow:hidden}
#nav3 .sobrinos .wp{margin:285px auto 80px;}
#nav3 .sobrinos .px{position:relative;transition:top ease-out 0.3s;-webkit-transition:top ease-out 0.3s;}
#nav3 .sobrinos h2{font-size:3.3em;color:#FFF;font-weight:normal;line-height:1.8;text-transform:uppercase;letter-spacing:0.4em}
#nav3 .sobrinos img{position:absolute;z-index:0;transition:top ease-out 0.3s;-webkit-transition:top ease-out 0.3s;}
#nav3 .sobrinos .pimienta{top:40%;left:5%}
#nav3 .sobrinos .pimienta2{bottom:100px;left:50%}
#nav3 .sobrinos .panceta{top:450px;left:0%}
#nav3 .sobrinos .plato{top:-100px;left:15%}
#nav3 .sobrinos .perejil{top:45%;left:52%}
#nav3 .sobrinos .cuchillo{top:240px;left:60%}
#nav3 .sobrinos .tenedor{top:500px;left:85%}
#nav3 .sobrinos .ajo{bottom:50px;left:70%}

#nav3 .fotos{background:rgba(0,0,0,0.4);height:1100px;overflow:hidden}
#nav3 .fotos img{position:absolute;transition:top ease-out 0.3s;-webkit-transition:top ease-out 0.3s;}
#nav3 .fotos img.img-1{top:0px;left:-100px;z-index:5}
#nav3 .fotos img.img-2{left:50%;transform:translateX(-40%);-webkit-transform:translateX(-40%);z-index:8}
#nav3 .fotos img.img-3{right:-50px;z-index:2}
#nav3 .fotos img.img-4{left:-50px;z-index:2}
#nav3 .fotos img.img-5{right:-80px;z-index:6}
#nav3 .fotos img.img-6{left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);z-index:5}
#nav3 .lo_mejor{background:rgba(0,0,0,0.4);position:relative;}
#nav3 .lo_mejor .copy{max-width:700px;position:relative;margin:auto;text-align:center;z-index:9;transition:top ease-out 0.3s;-webkit-transition:top ease-out 0.3s;}
#nav3 .lo_mejor .copy p{max-width:300px;margin:20px auto;font-size:2em;color:#848383;line-height:1.5;}
#nav3 .lo_mejor .copy h2{color:#FFF;font-weight:normal;font-size:3.5em;font-family: 'clicheregular';}
#nav3 .lo_mejor .copy hr{width:120px;margin:30px auto;border:none;height:1px;background:#cca36e}
#nav3 .lo_mejor .bt-ancla{display:block;padding-left:0;position:relative;line-height:60px;font-size:1.2em;color:#1f1f1f;text-transform:uppercase;letter-spacing:0.3em;text-align:center;max-width:320px;margin:auto;margin-top:20px;background:#cca36e url(../img/ar-bt-pedi.png) 30px center no-repeat;font-family: 'DINpro-m';top:80px;z-index:2}
#nav3 .lo_mejor img{position:absolute;transition:top ease-out 0.3s;-webkit-transition:top ease-out 0.3s;}
#nav3 .lo_mejor img.figaza{left:8%;top:0}
#nav3 .lo_mejor img.rodajas{left:15%;top:300px}
#nav3 .lo_mejor img.frances{left:75%;top:200px}
#nav3 .lo_mejor img.pimienta{left:75%;top:220px}
#nav3 .lo_mejor img.pimienta2{left:30%;top:400px}
#nav3 .lo_mejor img.cucharon{position:relative;display:block;margin:auto}

#nav4 .copy{max-width:1100px;position:relative;margin:auto;text-align:center;transition:ease-out 0.5s all;-webkit-transition:ease-out 0.5s all;top:250px}
#nav4 .copy h2{color:#FFF;font-weight:normal;font-size:3.5em;font-family: 'clicheregular';}
#nav4 .copy hr{width:120px;margin:30px auto;border:none;height:1px;background:#cca36e}
#nav4 .copy label{display:inline-block;height:80px;line-height:80px;color:#848383;font-size:1.5em;margin-bottom:10px}
#nav4 .copy label div.input{display:inline-block;height:80px;position:relative;background:#383838;margin:0 10px;line-height:1}
#nav4 .copy label div.input.error{border:3px solid #cca36e;border-radius:4px;}
#nav4 .copy label div.input.error input{color:#cca36e}
#nav4 .copy label div.input.s{width:100px}
#nav4 .copy label div.input.l{width:250px}
#nav4 .copy label div.input.lc{width:320px}
#nav4 .copy label div.input.xl{width:500px}
#nav4 .copy label div.input ul{position:absolute;top:80px;width:100%;max-height:240px;background:#383838;z-index:99;}
#nav4 .copy label div.input ul li{list-style:none;display:block;line-height:2;font-size:1.5em;cursor:pointer;transition:all ease-in 0.3s;-webkit-transition:all ease-in 0.3s;text-transform:capitalize;}
.slimScrollDiv{width:100% !important;}
#nav4 .copy label div.input input{position:relative;top:0;left:0;height:100%;width:100%;color:#FFF;font-size:1.8em;text-align:center;border:none;background:none;margin:0;font-family:'DINpro-l';outline:none;-webkit-appearance:none;z-index:0;cursor:pointer;z-index:2;text-indent:-20px}
#nav4 .copy label div.input:before{content:'';position:absolute;width:10px;height:10px;top:50%;right:15px;z-index:1;background:url(../img/arrow-down-golden.png) no-repeat center;margin-top:-5px}
#nav4 .copy label div.input.mail:before{display:none}
#nav4 .copy label div.input.date input{z-index:3;cursor:pointer}
#nav4 button{display:block;padding-left:0;position:relative;line-height:60px;font-size:1.2em;color:#1f1f1f;text-transform:uppercase;letter-spacing:0.3em;text-align:center;width:180px;margin:auto;margin-top:20px;background:#cca36e;font-family: 'DINpro-m';top:80px;z-index:2;border:none;cursor:pointer;outline:none;overflow:hidden;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s;}
#nav4 button img{transform:rotate(-90deg);-webkit-transform:rotate(-90deg);position:absolute;left:150px;top:50%;margin-top:-3px}
#nav4 img.arrollado{left:50%;top:0;position:absolute;transition:top ease-out 0.3s;-webkit-transition:top ease-out 0.3s;}

#thanks{font-size:1.5em;color:#848383;text-align:center;display:none;padding:20px;clear:both;top:80px;position:relative;line-height:1.2}

#nav5{min-height:100%;}
#nav5 video{opacity:0.3;display:block}
#nav5 .copy{position:absolute;;text-align:center;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%)}
#nav5 .copy h2{color:#FFF;font-weight:normal;font-size:3.5em;font-family: 'clicheregular';}
#nav5 .copy hr{width:120px;margin:30px auto;border:none;height:1px;background:#cca36e}
#nav5 .copy p{color:#FFF;font-weight:normal;font-size:4.5em;font-family: 'DINpro-l';text-transform:uppercase;line-height:1.2}
*/
/*Footer*/
/*footer{position:absolute;height:125px;padding:30px 0;width:100%;bottom:10px;left:0}
footer .wp{width:100%;max-width:1200px;color:#aaa;font-size:13px;padding:0 40px;margin:auto}
footer .nk {font-weight:700;opacity:.5;float:right;transition:all .3s;-webkit-transition:all .3s;}
footer .nk div {position: relative;display:inline-block;vertical-align:middle; transition:all .3s;-webkit-transition:all .3s;margin-left:10px}
footer .nk div img {transition: all .3s;}
footer .nk div img:last-child {position: absolute; top: 0; left: 0; opacity: 0; transform: scale(0);}
footer .logo-foot,
footer p{float:left;}
footer p{line-height:80px;padding-left:15px}
footer p a.mail{color:#FFF;border-bottom:1px solid #ba9565}
footer p strong{color:#ba9565;font-size:20px;margin:0 10px}
footer p a.fb{position:relative}
footer p a.fb img.w{position:relative;top:4px;margin-left:8px;}
footer p a.fb img.g{position:absolute;right:0px;top:0;transition:all ease-out 0.3s;-webkit-transition:all ease-out 0.3s;opacity:0;z-index:1}
*/
@media (min-width:1100px){
  nav li:hover > span{opacity:0.25}
  nav li:hover > a{color:#000}
  header .bt-menu:hover{background:#FFF}
  header .bt-menu.open:hover{background:#4f4f4f;}
  .bt-ancla:hover{color:#FFF}
  .bt-ancla:hover img{animation:arrowHome 1s 1}
  #nav4 .copy label div.input ul li:hover{background:#4f4f4f;color:#FFF}
  footer .nk:hover div img:first-child {opacity: 0; transform: scale(0);}
  footer .nk:hover div img:last-child {opacity: 1; transform: scale(1);}
  footer .nk:hover {color: #ff5859; font-weight: 700;opacity: 1;}
  #video-controls:hover{opacity:1}
  #nav4 button:hover{background:#FFF;color:#cca36e}
  #nav4 button:hover img{animation:arrowForm 0.5s 1}
  #nav5 .copy p a:hover,
  footer a.mail:hover,
  footer a.fb:hover{color:#cca36e}
  footer a.fb:hover > img.g{opacity:1}
}
@keyframes arrowHome {
    0%   {top:0px;}
    25%  {top:-10px;}
    50%  {top:20px;}
    75%  {top:-10px;}
    100% {top:0px;}
}
@keyframes arrowForm {
    0%   {left:150px;}
    45%  {left:200px;}
    46%  {left:200px;display:none}
    47%  {left:-15px;display:block}
    100% {left:150px;}
}

@media (max-width:1024px){
  #nav1 .logo{left:0}
  footer .wp{width:90%}
  footer p{display:none}
  #video-controls{opacity:1}
}

@media (max-width:960px){
  #loader .num{left:-20px}
  #loader i{left: 43px;}
  #navScroll{z-index:-1;opacity:0}
  /*1*/
  #nav1 .sarten{width:90%;top:80px}
  /*2*/
  #nav2 .copy{top:0;padding:50px}
  #nav2 .firma svg{stroke-dasharray:1087, 0;}
  /*3*/
  #nav3 .sobrinos .wp{margin:90px auto;}
  #nav3 .sobrinos .plato{top:auto;bottom:190px;left:5%}
  #nav3 .sobrinos .cuchillo{top: -170px;left: 60%;}
  #nav3 .sobrinos .tenedor,
  #nav3 .sobrinos .panceta{display:none}
  #nav3 .sobrinos .perejil{left:auto;right:6%;}
  /*4*/
  #nav3 .wp{width:100%}
  #nav3 .fotos{height:auto;}
  #nav3 .fotos img{display:block;position:static;max-width:100%;margin:auto;transform:translateX(0%) !important;-webkit-transform:translateX(0%) !important;}
  #nav3 .lo_mejor img.figaza{left:-110px}
  #nav3 .lo_mejor img.rodajas{left:0}
  #nav3 .lo_mejor .copy{padding:130px 0}
  #nav3 .lo_mejor img.pimienta2, #nav3 .lo_mejor img.cucharon{display:none}
  /*5*/
  #nav4 .copy{padding:80px 0;top:0}
  #nav4 img.arrollado{display:none}
  /*6*/
  #nav5{margin-top:80px}
  #nav5 .copy{margin-top: -40px;}
  #nav5 .copy p{font-size:2.5em}
  #nav5 .copy hr{margin:20px auto}
  /*footer*/
  footer .nk{display:none}
  footer .logo-foot{display:block;text-align:center;float:none}
}
@media (max-width:640px){
  #nav1 .wp{padding:100px 40px;}
  #nav1 .pimienta-1, #nav1 .pimienta-2{width:20%;}
  #nav1 .espatula,
  #nav1 .romero,
  #nav1 .destapa,
  #nav1 .ajos{display:none}
  #nav1 .sarten{width:500px;top:-35px;left:62%;}
  #nav1 .logo{width:130px;height:120px;}
  #nav1 .logo span{right:10px}
  #nav1 h1{margin:40px auto;font-size:1.8em}
  #nav1 .vino{width:300px;bottom:170px}
  /*2*/
  #nav2 .copy{padding:50px 20px}
  #nav2 .copy h2{max-width:230px;margin:auto}
  #nav2 .copy p{font-size:1.6em}
  /*3*/
  #video-controls{width:95%;left:52%}
  #nav3 .wp{padding:0 40px}
  #nav3 .sobrinos h2{font-size:1.8em;}
  #nav3 .sobrinos .plato{bottom:auto;width:350px;top:-290px}
  #nav3 .sobrinos .cuchillo,
  #nav3 .sobrinos .tenedor{display:none}
  #nav3 .sobrinos .perejil{width:120px}
  #nav3 .sobrinos .pimienta{display:none}
  #nav3 .sobrinos .pimienta2{width:66px;left:20%}
  #nav3 .sobrinos .ajo{width:80px}
  #fotos .wp{padding:0}
  #nav3 .fotos img{width:100%;}
  #nav3 .lo_mejor img.figaza,
  #nav3 .lo_mejor img.rodajas,
  #nav3 .lo_mejor img.pimienta,
  #nav3 .lo_mejor img.frances{display:none}
  #nav3 .lo_mejor .copy h2{max-width:187px;margin:auto;line-height:1.2}
  #nav3 .lo_mejor .copy p{font-size:1.6em;padding:0 20px;max-width:100%;margin-bottom:50px}
  /*4*/
  #nav4 .copy h2{max-width:200px;margin:auto}
  #nav4 .copy label{font-size:0;float:left;clear:both;width:100%;padding:30px 10px;position:relative;margin:0;height:auto}
  #nav4 .copy label .input{font-size:15px;margin:0 !important}
  #nav4 .copy label .input:not(.s){width:100% !important}
  #thanks,
  #nav4 button{top:50px}
  #nav4 .copy label:before{content:'';position:absolute;width:100%;font-size:15px;text-align:center;top:-30px;color:#848383;left:0}
  #nav4 .copy label:first-child:before{content:'Invitados:'}
  #nav4 .copy label:nth-child(2):before{content:'Lugar:'}
  #nav4 .copy label:nth-child(3):before{content:'Fecha:'}
  #nav4 .copy label:nth-child(4):before{content:'Momento del día:'}
  #nav4 .copy label:nth-child(5):before{content:'Quiero que cocinen:'}
  #nav4 .copy label:nth-child(6):before{content:'Mi mail es:'}
  /*5*/
  #nav5{height:100%;overflow:hidden;}
  #nav5 video{height:100%;transform:translateX(-50%);-webkit-transform:translateX(-50%);width:auto !important;}
  #nav5 .copy p{font-size:2em}
  
}
